//
//  Secrets.xcconfig
//  Komisyoncu
//
//  Created by Taha DEMİREL on 13.01.2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
SLASH = /
SUPABASE_URL = https:$(SLASH)$(SLASH)skphdvnynhwnejydxodf.supabase.co
SUPABASE_ANON_KEY =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNrcGhkdm55bmh3bmVqeWR4b2RmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyMjQ5NjYsImV4cCI6MjA4MzgwMDk2Nn0.LGVVlU5wzpxXtXY_cAppDGmIQProyTw_EUcBJ7CYKLg
